.all-data {
  display: flex;
  flex-direction: column;
}

.city-page {
  background: #D9D9D9;
  color: #252629;
}

.city-page-name {
  background: white;
  color: #252629;
  margin: 50px auto 50px 20px;
  width: 500px;
}

.city-image {
  width: 80%;
}

.city-page-nav {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 20px;
}

.compare-city-button {
  background: white;
  border: 2px solid white;;
  border-radius: 8%;
  color: #252629;
  font-size: 15px;
  height: 50px;
  width: 150px;
  margin: auto;
}

.compare-city-button:hover {
  cursor: pointer;
  background: #252629;
  border: 2px solid white;
  color: white;
  transition: all .3s ease-in;
}

.city-page-nav a {
  background: none;
  border: none;
  border-left: 3px solid white;
  border-right: 3px solid white;
  font-size: 15px;
  margin: 30px 0;
  padding: 0 40px 15px 25px;
  text-decoration: none;
}

.city-page-nav a:hover {
  background: none;
  border-left: 3px solid #007EA7;
  border-right: 3px solid #007EA7;
  color: #007EA7;
  cursor: pointer;
}

.score-data, .detail-data {
  background: white;
  margin: auto;
  width: 80%;
}

.city-score {
  font-size: 15px;
  margin: 15px 20px;
  text-align: left;
}

header {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
}
