.all-data {
  display: flex;
  flex-direction: column;
  flex: 7;
}

.city-page {
  background: #D9D9D9;
  border-top: 7px solid #FF7C7A;
  color: #252629;
}

.city-page-name {
  background: white;
  color: #252629;
  margin: 50px auto 50px 20px;
  padding: 10px;
  width: auto;
}

.city-page-nav {
  background: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 455px;
  margin: 0px 20px;
}

.compare-city-button {
  background: #252629;
  border: 2px solid white;
  color: white;
  border-radius: 8%;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  vertical-align: middle;
}

.compare-city-button:hover {
  cursor: pointer;
  background: #007EA7;
  border: 2px solid white;
  color: white;
  transition: all .3s ease-in;
}

.city-page-nav a, .city-page-nav a:visited {
  background: none;
  border: none;
  border-left: 3px solid white;
  border-right: 3px solid white;
  color: #252629;
  font-size: 15px;
  margin: 30px 0;
  padding: 0 40px 20px 25px;
  text-decoration: none;
}

.city-page-nav a:hover {
  background: none;
  border-left: 3px solid #007EA7;
  border-right: 3px solid #007EA7;
  color: #007EA7;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.main {
  display: flex;
}
