header {
  color: #F5F5EE;
  font-size: 40px;
  font-weight: 300;
  text-align: left;
}

.logo {
  height: 50px;
  margin: 0 20px;
  width: 50px;
}

.navigation-wrapper {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  margin: 20px 20px;
  width: 100%;
}

nav a {
  border-left: 3px solid #393A41;
  color: #F5F5EE;
  font-size: 20px;
  padding: 0 40px 0 25px;
  text-decoration: none;
}

nav a:hover {
  transition: all .3s ease-in;
  border-left: 3px solid #ACAB9E;
  color: #C06E68;
}
