header {
  color: #0B0014;
  font-size: 40px;
  font-weight: 300;
  text-align: left;
}

.logo {
  height: 50px;
  margin: 0 20px;
  width: 50px;
}

.navigation-wrapper {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-nav a {
  border-left: 3px solid #f04242;
  color: #0B0014;
  font-size: 25px;
  padding: 0 40px 0 25px;
  text-decoration: none;
}

.main-nav a:hover {
  transition: all .3s ease-in;
  border-left: 3px solid #0B0014;
  color: #f04242;
}
