.filtered-cities {
  background: #FFFFFF;
  border: 1px solid black;
  margin: 0 auto;
  height: auto;
  max-height: 90px;
  overflow: scroll;
  padding: 10px;
  width: 50%;
}

.filtered-cities button {
  border: none;
  background: none;
  font-size: 25px;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}

.filtered-cities button:hover {
  background: lightgrey;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

h4 {
  color: #252629;
  font-size: 20px;
}

input {
  border: 1px solid #252629;
  font-size: 25px;
  height: 50px;
  margin-top: 30px;
  width: 50%;
  -webkit-appearance: none;
}

.home {
  background: #EFEFEF;
  border-top: 7px solid #FF7C7A;
  border-bottom: 7px solid #FF7C7A;
  padding: 20px;
  height: 30vh;
  width: 100%;
}

.search-text {
  color: #0B0014;
  background: rgba(194,235,239,0.76);
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  text-shadow: 1px 1px lightgrey;
}

.map-section {
  background: rgba(194,235,239,0.76);
  margin: 60px auto;
  width: 100%;
}

.map-section img {
  border: 20px solid white;
  border-bottom: 70px solid white;
  height: 20%;
  margin-right: 90px;
  opacity: 1;
  width: 20%;
  box-shadow: 5px 5px rgba(49, 46, 46, 0.76);
}

.krakow {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
}

.tokyo {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
}

.warsaw {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
}

.best-place-text {
  color: #0B0014;
  font-style: italic;
  font-size: 40px;
  padding: 30px;
}
