.filtered-cities {
  background: #FFFFFF;
  border: 1px solid black;
  margin: 0 auto;
  height: auto;
  max-height: 135px;
  overflow: scroll;
  padding: 10px;
  width: 50%;
}

.filtered-cities button {
  border: none;
  background: none;
  font-size: 18px;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}

.filtered-cities button:hover {
  background: lightgrey;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

h4 {
  color: #252629;
  font-size: 20px;
}

input {
  border: 1px solid #252629;
  font-size: 20px;
  height: 30px;
  margin-top: 30px;
  width: 50%;
  -webkit-appearance: none;
}

.home {
  background: #E7E1C5;
  border-top: 2px solid #3C6E71;
  border-bottom: 2px solid #3C6E71;
  padding: 20px;
  height: 30vh;
  width: 100%;
}

.search-text {
  font-size: 18px;
}
