.city-list {
  background: #EFEFEF;
  border-top: 5px solid #f04242;
  padding-bottom: 40px;
}

.city-list-container {
  background: rgba(194,235,239,0.76);
  border: 2px solid #8AAEAB;
  height: 700px;
  margin: 20px auto;
  overflow: scroll;
  width: 60%;
}

.city-list-container button {
  background: #0B0014;
  border: 1px solid #F5F5EE;
  color: #F5F5EE;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  width: 25%;
}

.city-list-container button:hover {
  background: #F5F5EE;
  color: #0B0014;
  cursor: pointer;
  transition: all .3s ease-in;
}

h1 {
  color: #0B0014;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 50px;
}
